body {
  background: url(https://images8.alphacoders.com/939/thumbbig-939716.png)
    no-repeat center center fixed;
  background-size: cover;
}

/* SEARCH BEGINS*/
.search {
  display: flex;
  width: 50rem;
  height: 3.1rem;
  margin: 150px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #fff;

  input {
    display: flex;
    font-size: 1.3rem;
    width: 42rem;
    padding: 1rem 1rem;
    float: left;
    color: white;
    border: 0;
    background: transparent;
    border-radius: 5px 0 0 3px;
    &:focus {
      outline: 0;
      background: transparent;
    }
  }

  button {
    display: flex;
    position: relative;
    float: right;
    border: 0;
    padding: 0.5rem;
    font-size: 1.7rem;
    cursor: pointer;
    height: 3.1rem;
    width: 8rem;
    color: #fff;
    background: transparent;
    border-left: 1px solid #fff;
    border-radius: 0 3px 3px 0;
    &:hover {
      background: #fff;
      color: #444;
    }
    &:active {
      box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
    }
    &:focus {
      outline: 0;
    }
  }
}
/* SEARCH ENDS*/
