@media (min-width: 769px) {
  .containerOne {
    padding-top: 7rem;
    margin: 0 15rem;
  }
}

@media (max-width: 768px) {
  .containerOne {
    padding-top: 5rem;
    margin: 0 1rem;
  }
}

.card-body {
  background-color: rgb(241, 237, 237);
}
.btn-orangemoon {
  background: -webkit-linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
  border-radius: 10px;
}

.form-control-borderless {
  border: none;
  border: 1px solid #521751;
  border-radius: 8px;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
